@import '../bower_components/normalize-css/normalize.css';
.some-font {
  font-family: 'Lato', sans-serif;
  font-family: 'Neuton', serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
html {
  /* background: -webkit-linear-gradient(45deg, #FFEEEE 10%, #DDEFBB 90%); Chrome 10+, Saf5.1+
  background:    -moz-linear-gradient(45deg, #FFEEEE 10%, #DDEFBB 90%); FF3.6+
  background:     -ms-linear-gradient(45deg, #FFEEEE 10%, #DDEFBB 90%); IE10
  background:      -o-linear-gradient(45deg, #FFEEEE 10%, #DDEFBB 90%); Opera 11.10+
  background:         linear-gradient(45deg, #FFEEEE 10%, #DDEFBB 90%); W3C */
  background: transparent url(http://subtlepatterns.com/patterns/noise_lines.png);
}
body {
  color: #444;
}
a {
  color: #444;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #000;
}
header {
  text-align: center;
}
header h1,
header h2 {
  font-family: 'Lato', sans-serif;
}
header h1 {
  font-size: 38px;
  margin-bottom: 0;
  /*text-transform: uppercase;*/
}
header h2 {
  margin-top: 10px;
  font-weight: 300;
}
.container {
  max-width: 800px;
  margin: 30px auto 120px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #ccc;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.date-header {
  text-align: center;
  padding: 15px 20px 12px;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
  color: #777;
  font-size: 12px;
}
.date-header .prev {
  float: left;
}
.date-header .next {
  float: right;
}
.newz-articles {
  margin: 20px;
}
.newz-articles h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 20px;
}
.newz-articles p.item-description {
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  font-weight: 300;
  color: #999;
  font-size: 16px;
}
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}
footer h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 5px 10px 5px 0;
  display: inline-block;
}
footer input[type="text"],
footer input[type="email"] {
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 5px 7px 4px 7px;
  font-weight: normal;
  font-size: 13px;
  transition: all 0.3s;
  margin-right: 5px;
}
footer input[type="text"]:focus,
footer input[type="email"]:focus,
footer input[type="text"]:active,
footer input[type="email"]:active {
  outline: none;
  border: 1px solid #777;
}
footer input[type="submit"],
footer input[type="button"] {
  background: #008ed4;
  border-radius: 15px;
  border: none;
  font-size: 13px;
  padding: 7px 15px 6px;
  color: #fff;
  transition: all 0.3s;
}
footer input[type="submit"]:hover,
footer input[type="button"]:hover {
  background: #0080b3;
}
ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  /* Remove the default left margin */
  padding-left: 0;
  /* Remove the default left padding */
  padding-bottom: 1px;
}
ol > li {
  position: relative;
  /* Create a positioning context */
  margin: 45px 0 45px 50px;
  /* Give each list item a left margin to make room for the numbers */
  padding: 0px 8px;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */
}
ol > li:before {
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: 2px;
  left: -50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  /* Some space between the number and the content in browsers that support
       generated content but not positioning it */
  margin-right: 8px;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #777;
  line-height: 40px;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}
