<!DOCTYPE html>

{% load staticfiles %}
{% load humanize %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DailyDialogue</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "news/main.css" %}">
</head>
<body>
    <header>
      <h1>DailyDialogue</h1>
      <h2>A curated list of news article/opinion about India, delivered daily to your mailbox.</h2>
    </header>
    <section class="container">
      <div class="date-header">
        {%if prev_day%}
          <a href="?d={{prev_day|date:'dmY'}}" class="prev">&laquo; {{prev_day|date:"M"}} {{prev_day.day}}</a>
        {%endif%}
        <span class="current-date">{{current.day}}<sup>{{current.day|ordinal|slice:"-2:"}}</sup> {{current|date:"M"}} {{current.year}}</span>
        {%if next_day%}
          <a href="?d={{next_day|date:'dmY'}}" class="next">{{next_day|date:"M"}} {{next_day.day}} &raquo;</a>
        {%endif%}
      </div>
      <div class="newz-articles">
        <ol>
          {% for item in news %}
            <li>
              <h4 class="item-title"><a href="{{item.url}}">{{item.title}}</a></h4>
              {%if is_staff%}
                <p class="item-description">{{item.source}}/{{item.retweet_count}}</p>
              {%else%}
                <p class="item-description">{{item.source}}</p>
              {%endif%}
              
              {%if is_staff%}
                <form action='/set_status/' method='post'>
                    {% csrf_token %}
                    {%ifequal item.status 'DISCOVERED'%}
                      <input type='radio' name='status' value='DISCOVERED' checked>Discovered
                    {%else%}
                      <input type='radio' name='status' value='DISCOVERED'>Discovered
                    {%endifequal%}
                    {%ifequal item.status 'SELECTED'%}
                      <input type='radio' name='status' value='SELECTED' checked>Selected
                    {%else%}
                      <input type='radio' name='status' value='SELECTED'>Selected
                    {%endifequal%}
                    {%ifequal item.status 'STICKY'%}
                      <input type='radio' name='status' value='STICKY' checked>Sticky
                    {%else%}
                      <input type='radio' name='status' value='STICKY'>Sticky
                    {%endifequal%}

                    {%ifequal item.status 'DELETED'%}
                      <input type='radio' name='status' value='DELETED' checked>Deleted
                    {%else%}
                      <input type='radio' name='status' value='DELETED'>Delete It
                    {%endifequal%}

                    <input type='hidden' name='newsitemid' value='{{item.id}}'>
                    <input type='submit' value='save'>
                </form>
              {%endif%}
            </li>
          {% endfor %}
        </ol>
      </div>
    </section>
    <!-- <footer>
      <h3>Get DailyDialogue newsletter by email</h3>
      <form method='post' action='/subscribe/'>
        {% csrf_token %}
        <input type="email" name="email" placeholder="someone@example.com">
        <input type="submit" value="Subscribe">
      </form>
    </footer> -->
</body>
</html>
