{% load staticfiles %}

<html>
	<head>
		<style>
			body, html {width: 100%; height: 100%; margin: 0; padding: 0;}
			* {margin: 0; padding: 0; box-sizing: border-box; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
			/** {margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}*/

			body {background-color: lightblue;}
			p {vertical-align: baseline;}
			#header {width: 100%; height: 0%; background-color: #eee;}
			#header #logo {width: 50%; margin: 0px auto; }
			.heading {font-size: 30px;  color: #444; padding: 30px; text-align: center;}
			#container {width: 100%; font-size: 0; margin: 1% auto;}
			#leftpanel {width: 25%; float: left; font-size: 20px; }
			#articlelist {width: 60%; float: left; font-size: 20px; box-sizing:border-box;}
			#rightpanel {width: 15%; float: left;}
			.article {margin: 50px 0 50px 0; background-color: white; padding: 25px; border-radius: 5px;}
			.title {font-size: 22px; line-height: 30px; font-weight: 400;}
			.title a {text-decoration: none; color: black;}
			.meta {font-size: 13px; line-height: 40px; font-weight: 400;}
			.meta a {text-decoration: none; color: black; font-style: italic;}
			.summary {
							width:60%; float:left; 
							font-family:'Gotham SSm A', 'Gotham SSm B', sans-serif;
							font-size: 15px; line-height: 22px; font-weight: 200;  margin-left: 5%;
							
							text-align: justify;
    					text-justify: inter-word;

							-ms-word-break: break-all;
					    word-break: break-all;
					    word-break: break-word;
							-webkit-hyphens: auto;
					    -moz-hyphens: auto;
					    -ms-hyphens: auto;
					    hyphens: auto;

					    display: none;

						}
			.detail {margin-top: 3%;}
			.article_image {width:35%; float:left; padding-top: 5px;}
			.line_style {
				border: 0; height: 1px;
		  	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
		  	display: block;
				-webkit-margin-before: 0.5em;
				-webkit-margin-after: 0.5em;
				-webkit-margin-start: auto;
				-webkit-margin-end: auto;
			}
		</style>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="{% static "news/jquery.dotdotdot.min.js" %}"></script>
	</head>
	<body onload="try_f();">
		<div id='header'>
			<div id='logo'>
				<!-- <p>Daily collection of news articles and op-ed</p> -->
			</div>
		</div>
		<div id='container'>
			<div id='leftpanel'>&nbsp;
			</div>
			<div id='articlelist'>
				<p class='heading'>Daily collection of news articles and op-ed</p>
				{% for item in news_results %}
					<div class='article'>
						<div class='title'><a href='{{item.expanded_newsurl}}'>{{item.newsurl_title}}</a></div>
						<div class='detail'>
							{% if item.images %}
								<div class='article_image'>
									<img src='{{item.images}}' style='width:100%;'/>
								</div>
								<div class='summary'>
									{% autoescape off %}{{item.summary}}{% endautoescape %}
								</div>
								<div style='clear:both;'></div>
							{% else %}
								<div class='summary' style='width:100%; margin-left: 0%;'>
									{% autoescape off %}{{item.summary}}{% endautoescape %}
								</div>
								
							{% endif %}
						</div>
						<div class='meta'>
							<a href='http://{{item.newsurl_source}}'>{{item.newsurl_source}}</a>
							&nbsp;&nbsp;&nbsp;
							<span>{{item.published_time.date}}</span>
						</div>
					</div>
					
				{% endfor %}
			</div>
			<div style='clear:both;'></div>
		</div>
	</body>
	<script>
		function try_f() {
			var articles = $('.article');
			for (var i=0; i<articles.length; i++){
				if ($(articles[i]).find('.article_image').length>0){
					var height 				= 	$($(articles[i]).find('.article_image')[0]).height();
					var summary_elmt 	= 	$(articles[i]).find('.summary')[0];
					var summary_text 	=		$(summary_elmt).text();
					
					$(summary_elmt).text(summary_text);
					$(summary_elmt).css({'height': height});
					
					$(summary_elmt).css({'display': 'block'});	
					$(summary_elmt).dotdotdot({
						ellipsis	: '... ',
						wrap		: 'word',
						fallbackToLetter: true,
						after		: null,
						watch		: false,
						height		: null,
						tolerance	: 0,
						callback	: function( isTruncated, orgContent ) {},
						lastCharacter	: {
							remove		: [ ' ', ',', ';', '.', '!', '?' ],
							noEllipsis	: []
						}
					});				
				}else{
					var summary_elmt 	= 	$(articles[i]).find('.summary')[0];
					$(summary_elmt).css({'display': 'block'});
				}
			}
		}
		
	</script>	
</html>
