<form action='' method='post'>
	{% csrf_token %}
	Username: <input type='text' name='username'/><br/>
	Password: <input type='password' name='password'/><br/>
	<input type='submit' value='Login'/>
</form>